
<ul *ngIf="link.visible">
    <li>
        <span *ngIf="link.children.length">
            <a [routerLink]="" class='node-link' (click)="onCollapseAllClick(link)">-</a>
            <a [routerLink]="" class='node-link' (click)="onExpandClick(link)">+</a>
            <a [routerLink]="" (click)="onExpandAllClick(link)">+</a>
        </span>
        {{ link.name }}
    </li>
    
    <ul>
        <div *ngFor="let item of link.children">
            <app-toc [link]="item"></app-toc>
        </div>
    </ul>
</ul>
