<div *ngIf="link.visible">
    <li>
        <span *ngIf="link.children.length">
            <a [routerLink]="" class='node-link' (click)="onCollapseAllClick(link)">-</a>
            <a [routerLink]="" class='node-link' (click)="onExpandClick(link)">+</a>
            <a [routerLink]="" class='node-link' (click)="onExpandAllClick(link)">+</a>
        </span>
        <a [href]="link.link">{{ link.name }}</a>
    </li>

    <ul *ngIf="link.children.length">
        <div *ngFor="let item of link.children">
            <app-toc [link]="item"></app-toc>
        </div>
    </ul>
</div>