<div [ngClass]="{'hidden': !link.visible}">
    <li>
        <span *ngIf="link.children.length">
            <a href="javascript:void(0)" class='node-link' (click)="onExpandClick(link)" title="Expand first level children">+</a>
            <a href="javascript:void(0)" class='node-link' (click)="onExpandAllClick(link)" title="Expand all children recursively">+</a>
        </span>
        <a [href]="link.link" [title]="link.title">{{ link.name }}</a>
    </li>

    <div *ngIf="link.children.length" [ngClass]="{'hidden': !link.children[0].visible}" class="flex">
        <a href="javascript:void(0)" (click)="onCollapseAllClick(link)" [title]="'Collpase children: ' + link.name" class="line-anchor">
            <span></span>
        </a>
        <ul>
            <div *ngFor="let item of link.children">
                <app-toc [link]="item"></app-toc>
            </div>
        </ul>
    </div>
</div>
