<form [formGroup]="tocForm" (ngSubmit)="onSubmit(tocForm.value)">
    <div>
        <label>Product Code </label>
        <input type="text" formControlName="product">
    </div>

    <div>
        <label>Version </label>
        <input type="text" formControlName="version">
    </div>

    <button class="button" type="submit">Load</button>
</form>
<br>
<div *ngIf="loading">
    <span>Loading Table of Contents...</span>
</div>
<div *ngIf="!loading">
    <button (click)="onExpandAllPagesClick()">Expand all</button>
    <button (click)="onCollapseAllPagesClick()">Collapse all</button>
</div>
<div *ngFor="let link of links">
    <ul>
        <app-toc [link]="link"></app-toc>
    </ul>
</div>
