<form [formGroup]="tocForm" (ngSubmit)="onSubmit(tocForm.value)" style="max-width: 800px">
    <div class="row">
        <div class="col-12 col-md-7" style="padding-right: 7px">
            <label>Product</label>
            <ng-select [items]="products | async"
                bindLabel="name"
                bindValue="code"    
                formControlName="product"
                (change)="onProductChanged(false, false)">
            </ng-select>
        </div>
        <div class="col-12 col-md-5">
            <div class="row align-items-end">
                <div class="col" style="padding-right: 7px">     
                    <label>Version</label>
                    <ng-select [items]="versions | async"
                        bindLabel="value"
                        bindValue="key"
                        formControlName="version">
                    </ng-select>
                </div>
                <div class="col-auto">
                    <button class="button" type="submit" [disabled]="loading || loadingProducts" style="margin-bottom: 10px" >Load</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div style="margin-top: 10px">
    <div *ngIf="loadingProducts">
        Loading products...
    </div>
    <div *ngIf="!loadingProducts">
        Links loaded: {{ pagesLoaded }}
    </div>
</div>

<div style="margin-top: 15px; margin-bottom: 15px">
    <div *ngIf="loading">
        <span>Loading Table of Contents...</span>
    </div>

    <div *ngIf="!loading">
        <button (click)="onExpandAllPagesClick()">Expand all</button>
        <button (click)="onCollapseAllPagesClick()">Collapse all</button>
    </div>
</div>
<div *ngFor="let link of links">
    <ul>
        <app-toc [link]="link"></app-toc>
    </ul>
</div>
