
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #424141;
  box-sizing: border-box;
}

body {
  line-height: 1.15;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

h1:hover, .icon-svg:hover {
  opacity: 0.8;
}

p {
  font-size: 14px;
}

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

input {
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
  margin-right: 10px;
}

ng-select {
  margin-top: 5px;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  background-color: #1067be;
  color: white;
  border: none;
  margin-right: 10px;
  height: 36px;
}

.submit-div {
  padding-right: unset;
}

.expand-collpase button {
  padding: 8px 12px;
  height: 32px;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */
app-top-header ul {
  background-color: #1976d2;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

app-top-header h1 {
  color: white;
  margin-bottom: 0;
}

app-top-header a {
  text-decoration: none !important;
}

.line-anchor span {
  border-left: solid;
  border-width: 2px;
  border-color: rgb(160, 159, 159);
}

.line-anchor:hover span {
  border-color: rgb(77, 76, 76);
}

.line-anchor {
  display: flex;
  padding: 0px 5px;
}

li {
  display: unset;
}

ul {
  padding-inline-start: 5px;
}

.flex {
  display: flex;
  margin-bottom: 10px;
  margin-left: 25px;
}

.node-link {
  margin-right: 5px;
}

.hidden {
  display: none;
}

form .row {
  margin-right: -10px;
}

.submit-div button {
  margin-bottom: 10px;
  margin-right: 4px;
}

.toc-container {
  overflow: auto;
}