
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #424141;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.15;
}

/* Text */

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
  margin-right: 10px;
}

ng-select {
  margin-top: 5px;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  background-color: #1067be;
  color: white;
  border: none;
  margin-right: 10px;
  height: 36px;
}

.submit-div {
  padding-right: unset;
}

.expand-collpase button {
  padding: 8px 12px;
  height: 32px;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */
app-top-header ul {
  background-color: #1976d2;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

app-top-header h1 {
  color: white;
  margin-bottom: 0;
}

app-top-header a {
  text-decoration: none !important;
}
